html{scroll-behavior: smooth;}
body {background-color:#3F4E4F;}
.container{display: flex;
    justify-content: space-around;
}
.header{
    display: flex;
    justify-content: space-evenly;

}
.header h1{
    font-weight: 600;
    font-size: 55pt;
}

.header img{
   
    width: 50%;
    border: #F0F0F0;
    border-radius: 50%;
    border-style: solid;
}
 h1,h2,h3,h4,h5,h6{
    font-family: 'Libre Baskerville', serif;
    color: #DCD7C9
}
.footer{
    text-align: center;
    color: white;
}
.container-item{
    background-color:#A27B5C;
    border-radius: 15px;
    padding: 20px;
}
@media (max-width:600px) {
    .header{
        height: 200px;

    }
    .header h1{
        font-weight: 200;
        font-size: 22pt;
    }
    .container{
        display: block;
    }
    .header img{
        width: 50%;
    }
    
}
